# Pandas
## Practice Problems

### 1. Start by loading the `subway_stations.csv` to a DataFrame, and then:

1.   Check the first 5 rows of subway_stations.
2.   Check subway_stations column data types and shape.
3.   How many unique values are in the station column?
4.   merge() the subway station data into delays_w_reasons. Make sure that all delay records are kept, even if there is no matching station name in subway_stations. The resulting DataFrame should have 16,370 rows.

In [54]:
import pandas as pd

#Display all columns
pd.set_option("display.max_columns", None)

# Read first 5 rows of the file
subway_stations = pd.read_csv('../../05_src/data/slides_data/subway_stations.csv')

# loaded data into a DataFrame
subway_stations.head()

    stop_lat   stop_lon            station
0  43.666061 -79.411065   BATHURST STATION
1  43.670149 -79.390089        BAY STATION
2  43.766872 -79.386703    BAYVIEW STATION
3  43.769202 -79.376312  BESSARION STATION
4  43.670049 -79.385389      BLOOR STATION

<details>
  <summary>Answer</summary>

  ```python
  import numpy as np
  import pandas as pd

  subway = pd.read_csv('/content/data/subway_stations.csv') #change path
  subway.head()
  ```
</details>

2.   Check subway_stations column data types and shape.

In [32]:
#Check column data types and shape
type(subway_stations)

# subway_stations = subway_stations.rename(columns={'station' : 'Tiago'})
# subway_stations.head()
subway_stations.info

<bound method DataFrame.info of      stop_lat   stop_lon             station
0   43.666061 -79.411065    BATHURST STATION
1   43.670149 -79.390089         BAY STATION
2   43.766872 -79.386703     BAYVIEW STATION
3   43.769202 -79.376312   BESSARION STATION
4   43.670049 -79.385389       BLOOR STATION
..        ...        ...                 ...
72  43.734475 -79.450920      WILSON STATION
73  43.686440 -79.312471    WOODBINE STATION
74  43.670997 -79.385956       YONGE STATION
75  43.745172 -79.405930  YORK MILLS STATION
76  43.725248 -79.447692    YORKDALE STATION

[77 rows x 3 columns]>

<details>
  <summary>Answer</summary>

  ```python
  subway.info()
  ```
</details>

3.   How many unique values are in the station column?

In [31]:
len(subway_stations['station'].unique())

77

<details>
  <summary>Answer</summary>

  ```python
  len(subway['station'].unique())
  ```
</details>

4.   merge() the subway station data into delays_w_reasons. Make sure that all delay records are kept, even if there is no matching station name in subway_stations. The resulting DataFrame should have 16,370 rows.

In [62]:
delay_w_reasons = pd.read_excel('../../05_src/data/slides_data/ttc_subway_delays_w_reasons.xlsx')
# delay_w_reasons.head()

merged = pd.merge(delay_w_reasons,
                  subway_stations,
                  how='left',
                  left_on='station',
                  right_on='station')

merged.head()

,date,time,day,station,code,min_delay,min_gap,bound,line,vehicle,code_description,sub_or_srt,year,hour_delay,month,hour,stop_lat,stop_lon
0,2021-01-01,00:33,Friday,BLOOR STATION,MUPAA,0,0,N,YU,6046,Passenger Assistance Alarm Activated - No Trou...,SUB,2021,0.00,1,0,43.670049,-79.385389
1,2021-01-01,00:39,Friday,SHERBOURNE STATION,EUCO,5,9,E,BD,5250,Couplers,SUB,2021,0.08,1,0,43.672103,-79.376162
2,2021-01-01,01:07,Friday,KENNEDY BD STATION,EUCD,5,9,E,BD,5249,Consequential Delay (2nd Delay Same Fault),SUB,2021,0.08,1,1,NaN,NaN
3,2021-01-01,01:41,Friday,ST CLAIR STATION,MUIS,0,0,NaN,YU,0,Injured or ill Customer (In Station) - Transpo...,SUB,2021,0.00,1,1,43.687857,-79.391958
4,2021-01-01,02:04,Friday,SHEPPARD WEST STATION,MUIS,0,0,NaN,YU,0,Injured or ill Customer (In Station) - Transpo...,SUB,2021,0.00,1,2,43.749571,-79.462186

<details>
  <summary>Answer</summary>

  ```python
  delay_w_reasons = pd.read_excel('/content/data/delays_w_reasons.xlsx') #change path
merged = pd.merge(delay_w_reasons, 
                            subway, 
                            how='left',
                            left_on='station', 
                            right_on='station')
merged.head()
  ```
</details>